.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-family: monospace;
  font-size: medium;
  font-weight: normal;
  background-color: lightpink;
}